.admin-bord-overview {
  .board-container {
    display: flex;
    flex-direction: column;
  }
  .filter {
    width: max-content;
    background-color: var(--nav-bg-color);
    padding: 15px;
    margin-top: 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;

    input[type="radio"] {
      display: none;
    }

    label {
      padding: 5px;
      border-radius: 2px;
      margin: 5px;
      cursor: pointer;

      &.checked {
        background-color: var(--nav-highlight);
      }
    }

    .search {
      margin-right: 10px;
    }
  }

  .sync {
    svg {
      animation: rotate 2s linear infinite;
    }
  }

  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
