
#box{
    align-content: center;
    orientation: landscape;
    width: 100%;
    height: 80%;
}

#parent{
    text-align: center;
}

#userList{
    width: 30%;
    padding: 10px;
}

#serchBox{
    text-align: center;
    background-color: black;
    border-color: white;
    border-radius: 10px;
    border-width: thick;
    max-width: 200px;
    padding: 5px;
    margin: 2px;
}

.userElement{
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 5px;
}

.infoBox{
    text-align: center;
}