.board-list {
  .title {
    margin-bottom: 10px;
  }

  .controls {
    & > .btn {
      margin-left: 0;
    }

    margin-bottom: 10px;
  }

  .boards {
    display: flex;
    flex-wrap: wrap;
  }
}
