.board-row {
  display: grid;
  width: 100%;
  box-sizing: border-box;
  grid-template-columns: 50px 100px 100px auto auto;
  align-items: center;
  justify-items: center;
  background-color: var(--nav-bg-color);
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--border-1);

  .members {
    justify-self: end;
    margin-top: 0;
  }

  .edit {
    margin: 0;
    padding: 5px;
    background-color: transparent;
    border: none;
    color: var(--text-color);
    cursor: pointer;
  }

  p {
    //border-left: 1px solid var(--border-1);
  }

  .board-title {
    justify-self: start;
    margin-left: 10px;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px;

    &:hover {
      text-decoration: underline;
    }
  }
}
