.card {
  border: 1px solid var(--border-1);
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  transition: border 0.2s ease;
  background-color: var(--nav-bg-color);
  user-select: none;

  &:hover {
    border-color: var(--nav-bg-hover-2);
  }

  .card-header {
    font-size: 10px;
    font-weight: normal;
    padding: 10px;
  }

  .card-description {
    padding: 0 10px 10px 10px;
    p {
      color: var(--text-subtle);
    }
  }

  .members {
    margin: 0;
  }
}
