.color-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-top: 10px;
  place-content: center;
  padding: 10px;

  &.background {
    background-color: var(--nav-background-color);
    border-radius: var(--global-radius);
    border: 2px solid var(--nav-background-color-hover);
  }

  & > p {
    grid-row: 1;
    grid-column: 1 / span 2;
    margin: 0 auto 5px auto !important;
  }

  .color-preview {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 100%;
    border-radius: var(--global-radius);
    text-shadow: 1px 1px black;
  }

  .color-select {
    width: 100%;
    cursor: pointer;
  }

  .user-icon {
    grid-column: 1;
    box-sizing: border-box;
    min-height: 60px;
    min-width: 60px;
    font-size: 38px;
    border-width: 2px;
  }

  .react-colorful {
    position: absolute;
    padding: 10px 10px 10px 0;
    cursor: pointer;
    z-index: 10;
  }

  .react-colorful__saturation {
    border-radius: var(--global-radius) var(--global-radius) 0 0;
    border-bottom: none;
  }

  .react-colorful__last-control {
    border-radius: 0 0 var(--global-radius) var(--global-radius);
  }

  .react-colorful__pointer {
    border-radius: var(--global-radius);
    border: none;
    height: 25px;
    width: 25px;
  }
}
