.list {
  display: flex;
  flex-direction: column;
  height: min-content;
  background-color: var(--nav-bg-color);
  width: 220px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--border-1);

  .list-header {
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 20px;
      font-weight: normal;
      margin-bottom: 10px;
    }
  }

  .btn.wide {
    width: 100%;
    margin: 0;
    margin-top: 10px;

    border: 1px solid var(--border-1);
    font-size: 20px;
  }
}
