.list {
  background-color: var(--nav-bg-color);
  width: 200px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid var(--border-1);

  .list-header {
    h1 {
      font-size: 20px;
      font-weight: normal;
    }
  }

  .btn.wide {
    width: 100%;
    margin: 0;
    margin-top: 10px;

    border: 1px solid var(--border-1);
    font-size: 20px;
  }
}
