.member-select {
  background-color: var(--nav-bg-color);
  padding: 10px;
  border-radius: 4px;

  .member-title {
    color: var(--text-subtle);
    margin-bottom: 10px;
  }

  .member-container {
    display: flex;
    flex-wrap: wrap;
  }

  .member-counter {
    color: var(--text-subtle);
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid var(--border-1);
  }

  .user-icon {
    cursor: pointer;
    font-size: 23px;
    width: 40px;
    height: 40px;
    transition: border 0.1s ease-in;

    &.selected {
      border-bottom-width: 4px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  .btn {
    margin: 0;
  }

  .btn-container {
    margin-top: 10px;
  }
}
