.popup-container {
  display: grid;
  place-content: center;
  position: fixed;
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  z-index: 100;
}

.background {
  background-color: black;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: -1;
  animation: fade-in 0.2s ease-out forwards;
}

.popup {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 10px;
  border-radius: 4px;
  animation: pop-up 0.2s ease-out;

  .delete {
    max-width: max-content;
    margin: 0;
    margin-bottom: 20px;
    margin-top: 10px;
    margin-left: auto;
  }

  .btn {
    svg {
      margin-right: 10px;
    }

    &.close {
      svg {
        margin: 0;
      }
    }
  }

  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--border-1);

    h1 {
      font-size: 25px;
      margin-right: 10px;
    }
  }

  @keyframes pop-up {
    0% {
      transform: translateY(10px) scale(0.98);
    }

    100% {
      transform: translateY(0) scale(1);
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 0.5;
    }
  }
}
