.user-icon {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  padding: 5px;
  border-radius: 4px;
  font-size: 18px;
  height: 32px;
  width: 32px;
  background-color: transparent;
  color: var(--text-color);
  margin-right: 8px;
  margin-top: 5px;
  user-select: none;

  .crown {
    position: absolute;
    top: 15px;
    left: 17px;
    color: orange;
  }
}

button.user-icon {
  cursor: pointer;
  border-color: var(--text-subtle);
}
