.user-icon {
  position: relative;
  border-width: 1px;
  border-style: solid;
  padding: 3px;
  border-radius: 4px;
  font-size: 18px;
  height: 22px;
  width: 22px;

  .crown {
    position: absolute;
    top: 16px;
    left: 15px;
    color: orange;
  }
}
