* {
  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
}

a {
  color: white;
}

html {
  background-color: var(--bg-color);
}

:root {
  --nav-bg-color: #26262a;
  --nav-bg-hover: #313136;
  --nav-bg-hover-2: #4f4f57;
  --nav-width: 50px;
  --nav-expand-width: 180px;

  --bg-color: #1e1e22;
  --bg-hover: #303036;

  --text-color: #e2e2e2;
  --text-subtle: #b3b3b3;
  --border-1: #35353a;
  --nav-highlight: #1968fa;

  --blu: var(--nav-highlight);
  --blu-hover: #397dfb;

  --red: #e13737;
  --red-hover: #ff5656;

  --ylw: #f0ad4e;
  --ylw-hover: #ebbe80;
}

.hidden {
  display: none !important;
}

html {
  height: 100vh;
}

.btn {
  color: var(--text-color);
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
  position: relative;
  margin: 10px;
  outline: none;
  background-color: var(--nav-bg-color);
  border: 0;

  &:disabled {
    opacity: 0.7;
    cursor: auto;
  }

  &:hover:enabled {
    background-color: var(--nav-bg-hover);
  }

  &.close {
    font-size: 18px;
    margin: 0;
    padding: 10px;

    svg {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &.blu {
    background-color: var(--blu);

    &:hover:enabled {
      background-color: var(--blu-hover);
    }
  }

  &.red {
    background-color: var(--red);

    &:hover:enabled {
      background-color: var(--red-hover);
    }
  }

  

  &.drk {
    background-color: var(--bg-color);

    &:hover:enabled {
      background-color: var(--bg-hover);
    }
  }

  &.ylw {
    color: white;
    background-color: var(--ylw);

    &:hover:enabled {
      background-color: var(--ylw-hover);
    }
  }
}

.frm {
  display: flex;
  flex-direction: column;

  label {
    font-size: 20px;
    color: var(--text-subtle);
  }

  input[type="text"],
  textarea {
    color: var(--text-color);
    background-color: var(--nav-bg-color);
    border: none;
    padding: 10px;
    font-size: 18px;
    margin: 10px 0;
    border-radius: 4px;
    resize: none;
    font-size: 20px;
  }

  textarea {
    min-height: 150px;
  }
}

.btn-container {
  display: flex;
  justify-content: space-between;

  .btn:first-of-type {
    margin-left: 0;
  }

  .btn:last-of-type {
    margin-right: 0;
  }
}

.controls {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;

  .btn {
    margin-top: 0;
    margin-bottom: 0;

    &.sort {
      display: flex;
      flex-direction: row;
      align-items: center;

      svg {
        margin-right: 5px;
      }

      &.asc {
        svg {
          transform: rotate(180deg);
        }
      }
    }
  }

  .members {
    margin-top: 0;
    border-left: 1px solid var(--border-1);
    padding-left: 10px;

    &.no-border-left {
      border-left: none;
      padding-left: 0;
    }
  }

  & > .btn {
    margin-left: 0;
  }

  .right {
    margin-left: auto;
    margin-right: 0;
  }
}

.search {
  display: flex;
  flex-direction: row;

  input[type="text"] {
    padding: 5px;
    background-color: var(--bg-color);
    border: 1px solid var(--border-1);
    border-radius: 4px 0 0 4px;
    color: var(--text-color);

    & ~ button {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--text-color);
      padding: 10px;
      background-color: var(--bg-color);
      border: 1px solid var(--border-1);
      border-left: none;
      border-radius: 0 4px 4px 0;
      cursor: pointer;
    }
  }  
}

.errorMessage {
  color: var(--red);
  text-align: center;
  width: 200px;
}
